.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

}
.modal-active{
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 180px;
  background-color: white;
  width: 350px;
  padding-bottom: 20px;
}
.input-form {
  width: 100%;
  height: 46px;
  box-sizing: border-box;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #BEBEBE;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}
.input-form:focus {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #434343;
}
.button-Create {
  background-color: #666666;
  width: 100%;
  height: 46px;
  border-radius: 4px;
  font-size: 16px;
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
